.header{
  width: 100%;
  height:100%;
  background: #0e347b;
  .header-name{
    font-size:30px;
    a{
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
      color:#fff;
    }
    .log-btn{
      float: right;
      font-size:20px;
      line-height: 60px;
      padding-right:20px;
    }
    .header-link{
      float: right;
      font-size:20px;
      line-height: 60px;
      padding-right:20px;
    }
  }
}