.search-user-contents{
  background: #f2f4f8;
  height:150vh;
  width: 100%;
  .form_user-content{
    text-align: center;
    padding-top:100px;
    .search-form_input{
      width:300px;
      height:40px;
      font-size:20px;
    }
  }
  .search-div{
    text-align: center;
    padding-top:20px;
    list-style: none;
    a{
      color:black;
      font-size:25px;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
    }
  }
}