.user-show-contents{
  background: #f2f4f8;
  height:200vh;
  width: 100%;
  .nickname-label{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    padding:20px 0 0 30px;
  }
  .all-show-user{
    padding:20px 0 0 20px;
    .one-show-content{
      float: left;
      margin:10px 20px;
      padding:20px 10px 20px 10px;
      box-shadow: 3px 3px rgba(0,0,0,0.4);
      border: 1px solid #000000;
      background: #fff;
      .shop_name_contents{
        padding-bottom: 5px;
      }
    }
  }
}