.product-new-contents{
  background: #f2f4f8;
  height:170vh;
  width: 100%;
  .one-new-product{
    text-align: center;
    padding-top:20px;
    h3{
      font-size:25px;
    }
    .new-form{
      padding-top:20px;
      .text-box{
        width:200px;
        height:30px;
        font-size:20px;
      }
      .form-label{
        font-size:20px;
      }
      .out-label{
        font-size:20px;
      }
      .video-form{
        display: inline;
        padding-left:30px;
      }
      .video-label{
        font-size:20px;
      }
    }
    .new-item-form{
      padding-top:20px;
      .select-label{
        font-size:20px;
      }
      .stylename-select-box{
        height:30px;
        width:100px;
      }
      .items-select-box{
        height:30px;
        width:100px;
      }
      .items-select-box{
        height:30px;
        width:100px;
      }
      .items-select-box{
        height:30px;
        width:100px;
      }
    }
    .actions-new{
      padding-top:40px;
      .sent-btn{
        width:100px;
        height:30px;
      }
    }
    #product_title-error{
      color:red;
    }
    #product_shop_name-error{
      color:red;
    }
    #product_text-error{
      color:red;
    }
    #product_video-error{
      color:red;
    }
    #product_stylest_name-error{
      color:red;
    }
    #stylegenre_id-error{
      color:red;
    }
    #item_id-error{
      color:red;
    }
    #color_id-error{
      color:red;
    }
    #perm_id-error{
      color:red;
    }
    #product_cosme-error{
      color:red;
    }
    #product_link_url-error{
      color:red;
    }
  }
}